body {
  background-color: #413424;
  /*background-image: url(http://i.imgur.com/nr3Hmbv.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  -webkit-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;*/
  color: white;
  box-sizing: border-box;
  font-family: sans-serif;
}

#bg {
  position: fixed;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
}

#bg img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  min-width: 50%;
  min-height: 50%;
  z-index: -1;
}

a {
  text-decoration: none;
  color: white;
}

.lander {
  width: 50%;
  text-align: center;
  margin: 30vh auto auto auto;
}

.clearfix {
  overflow: auto;
  zoom: 1;
}

.station {
  width: 66%;
  margin: 10px auto;
}

.tab {
  width: 32.5%;
  display: inline-block;
  background: #413424;
  text-align: center;
  border: 5px solid #413424;
  box-sizing: border-box;
  font-weight: bold;
  padding: .33em;
}

.tab:hover {
  background-color: #756A61;
}

.train,
.alert,
.note {
  border: 2px solid white;
  outline: 5px solid #413424;
  margin: 10px auto;
  width: 66%;
}

.train-header,
.note-header {
  margin: 5px 0 0 10px;
}

.note p {
  width: 90%;
  padding: 5px 15px;
}

.left,
.right {
  width: 40%;
  padding: 5px 15px;
}

.left {
  float: left;
}

.right {
  float: right;
}

@media (max-width: 600px) {
  body {
    display: block;
    height: 100%;
    width: 100%;
  }

  .train,
  .alert,
  .note,
  .station {
    width: 90%;
    margin: 10px auto;
  }

  .tabs {
    height: 4em;
  }

  .lander {
    width: 95%;
  }

  .left,
  .right {
    width: 80%;
    margin: 0 auto;
    float: left;
  }
}
