<h3><a href="#/">DC Train Tracker</a></h3>
<div class="lander">
  <h3>Find your next train.</h3>

  <p>{{landingVm.displayLines}}</p>

  <select data-ng-model="landingVm.station" data-ng-options="station.Name for station in landingVm.data">
    {{station}}
    <option value="" data-ng-mouseover="landingVm.switchLines([station.LineCode1, station.LineCode2, station.LineCode3, station.LineCode4])">
      Select station
    </option>
  </select>
  <button data-ng-click="landingVm.getStation()">Find your station</button>
</div>
