
<h3><a href="dc-train-tracker/#/">DC Train Tracker</a></h3>
<select data-ng-model="showVm.station" data-ng-options="station.Name for station in showVm.data">
  {{station}}
<option value="">Select station</option>
</select><br>
<button data-ng-click="showVm.getStation()">Switch stations</button>


<station>
</station>
<div data-ng-if="showVm.tab=='next'" data-ng-repeat="train in showVm.trains">
  <train></train>
</div>
<div data-ng-if="showVm.tab=='alerts'" data-ng-repeat="incident in showVm.incidents">
  <alert></alert>
</div>
<div data-ng-if="showVm.tab=='notes'">
  <div class="note">
    <h3>Leave a note</h3>
    <form>
      <input value="showVm.newNote.title" data-ng-model="showVm.newNote.title" placeholder="Title"></input>
      <input value="showVm.newNote.author" data-ng-model="showVm.newNote.author" placeholder="Author"></input>
      <input value="showVm.newNote.body" data-ng-model="showVm.newNote.body" placeholder="Note"></input>
      <button data-ng-click="showVm.create({title: showVm.newNote.title, author: showVm.newNote.author, body: showVm.newNote.body})">Leave note</button>
    </form>
  </div>
  <note data-ng-repeat="note in showVm.notes"></note>
</div>
